.btn {
    display: inline-block;
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    background-color: #5558fa;
    color: white;
    font-family: 'TTTravels-Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
